* {
    box-sizing: border-box;
  }
  
  html,
  body {
    font-family: sans-serif;
    background-color: #f8f7ff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
  }
  
  .screen {
    width: 300px;
    height: 600px;
    background-color: #fbfbfb;
    border-radius: 30px;
    box-shadow: 20px 20px 20px 20px #c2c5d2;
    position: relative;
  }
  
  .screen__phone {
    width: 270px;
    height: 570px;
    background-color: #f8f8f8;
    border-radius: 25px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  
  .blank {
    width: 150px;
    height: 20px;
    background-color: #fbfbfb;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    left: 60px;
  }
  
  .sign {
    padding-top: 8px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input__email,
  .input__pw {
    border: none;
    border-radius: 5px;
    display: flex;
    width: 240px;
    height: 35px;
    margin-top: 25px;
  }
  
  .input__forgot {
    color: #e2283f;
    font-size: 13px;
    font-weight: 600;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
  }
  
  .remember {
    padding-left: 13px;
    padding-top: 25px;
  }
  
  .remeber-me {
    margin-left: 5px;
    font-size: 13px;
  }
  
  .far {
    font-size: 14px;
    position: relative;
  }
  
  .fas {
    color: red;
    position: absolute;
    left: 0px;
  }
  
  .sign__button {
    background-color: #e2283f;
    color: white;
    font-size: 11px;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px 0px 38px 10px;
  }
  
  .or {
    font-weight: 700;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .sns {
    padding: 37px 0px;
    display: flex;
    justify-content: space-around;
  }
  
  .facebook,
  .twitter {
    color: white;
    font-size: 11px;
    font-weight: 600;
    width: 110px;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .facebook {
    background-color: #465a97;
  }
  
  .twitter {
    background-color: #5da1f4;
  }
  
  .need__account,
  .forgot__pw {
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    padding-bottom: 3px;
  }
  
  .explanation {
    color: rgb(131, 130, 130);
  }
  
  .button {
    color: rgb(212, 106, 122);
    padding-left: 5px;
  }
  
  .input__forgot,
  .sign__button,
  .sns,
  .button {
    cursor: pointer;
  }
  