html,
body {
  background-color: white;
  font-family: sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: cetner;
}

.rotate {
  background-color: rgb(104, 231, 231);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bars {
  background-color: rgb(23, 148, 110);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 20px;
}

.whole {
  width: 50px;
  animation: 0.9s rotate infinite ease-in-out;
}

.box {
  background-color: white;
  width: 15px;
  height: 50px;
  margin: 3px;
}

#box1 {
  animation: 1.5s scale infinite ease-in-out;
}
#box2 {
  animation: 1.5s scale infinite 0.1s ease-in-out;
}
#box3 {
  animation: 1.5s scale infinite 0.2s ease-in-out;
}
#box4 {
  animation: 1.5s scale infinite 0.3s ease-in-out;
}
#box5 {
  animation: 1.5s scale infinite 0.4s ease-in-out;
}

@keyframes rotate {
  from {
    transform: none;
  }
  to {
    transform: rotate(0.5turn);
  }
}

@keyframes scale {
  0% {
    transform: none;
  }
  20% {
    transform: scale(1, 3);
  }
  40% {
    transform: none;
  }
  60% {
    transform: none;
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
