body {
    font-family: sans-serif;
  }
  
  html,
  body {
    height: 100%;
    background-color: rgb(33, 126, 248);
  }
  .father {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .redBox {
    background-color: rgb(216, 87, 109);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .greyBox {
    background-color: rgb(187, 187, 187);
    height: 50px;
    width: 50px;
  }
  
  .greyBox:hover:nth-child(2) {
    background-color: red;
  }
  