body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 400px;
}

.camera {
    margin-top: 80px;
}

.cameratitle {
    margin-top: 80px;
}

.camera__back {
    width: 400px;
    height: 300px;
    background-color: #28394a;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 88px;
    backface-visibility: hidden;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.camera__back:hover {
    backface-visibility: visible;
    opacity: 1;
    transform: translate(15px, 15px);
}

.back__title {
    color: white;
    font-weight: 600;
}

.back__by {
    color: #ea4463;
}

.back__look {
    height: 20px;
    width: 85px;
    background-color: #ea4463;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.camback {
    margin-top: 30px;
}

.game {
    overflow: hidden;
    margin-top: 50px;
    width: 400px;
    height: 300px;
    margin-bottom: 60px;
}

.game__back {
    width: 400px;
    height: 100px;
    transform: translateY(100px);
    transition: transform 0.4s, opacity 0.1s 0.3s;
    box-sizing: border-box;
    background-color: #28394a;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    bottom: 110px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gameback {
    position: relative;
    left: 260px;
    transition: transform 0.3s;
}

.game img {
    transition: transform 0.3s;
}

.game img:hover {
    transform: translateY(-50px);
}

.game img:hover ~ .game__back {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s;
}

.safari__back {
    width: 400px;
    height: 300px;
    background-color: #28394a;
    padding-left: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    position: relative;
    bottom: 304px;
    z-index: -1;
    opacity: 1;
}

.safari__back .back__title {
    margin-top: 200px;
}

.safari img {
    transition: transform 0.3s;
}

.safari img:hover {
    transform: translateY(-50px) scale(0.5);
}
